/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

body {
  font-family: Arial, sans-serif;
  margin: 36px auto;
  padding: 0;
  background-color: #ffffff;
}

/* .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
} */
 
.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

.form input[type="text"] {
  flex: 1;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid #808080;
}

.form input[type="text"]:hover {
  border: 1px solid #000;
}
/* dopisac .form input na pressed */

.form button {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;;
  color: ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.form button:hover {
  background-color:#6c8cff;;
}

/* --- Loader --- */
/* .loader {
  height: 4px;
  width: 100%;
  background: linear-gradient(90deg, #d1d5db 25%, #4f46e5 50%, #d1d5db 75%);
  background-size: 200% 100%;
  animation: loading 1s linear infinite;
  margin-bottom: 16px;
} */

/* @keyframes loading {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
} */

.hidden {
  display: none;
}

/* --- Galeria --- */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0 156px;
}

.gallery-item {
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 360px; 
  height: 156px;
  object-fit: cover;
  display: block;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 4px 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.info p {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}